<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>起来，不愿做...</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div class="app">
    <div class="status">
      <div class="status-inner">
        <div class="status-item">
          <div class="divide">
            WORK
          </div>
          <div class="divide">
            <input type="number" @keydown.enter="handleConfirm" @input="handleTyping" v-model="user.workTime">
          </div>
          <div class="divide">
            Min.
          </div>
        </div>
        <div class="status-item">
          <div class="divide">
            REST
          </div>
          <div class="divide">
            <input type="number" @keydown.enter="handleConfirm" @input="handleTyping" v-model="user.restTime">
          </div>
          <div class="divide">
            Min.
          </div>
        </div> 
      </div>    
    </div>
    <div class="timer-wrapper" v-if="remainTime">
      <span class="timer">{{{ remainTime | formatTimer }}}</span>
    </div>
    <div class="bar">
      <button class="btn" v-if="typed" @click="handleConfirm">Confirm</button>
      <button class="btn" v-if="typed" @click="handleCancel">Cancel</button>
      <button class="btn" @click="handlePause">
        {{ paused ? 'Resume' : 'Pause' }}
      </button>
    </div>
  </div>
  <script src="./modules/vue.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>
