<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>阿姨！</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div class="popup">
    <div class="wrap">
      <div class="timer" v-if="remainTime !== null">
        <span v-if="remainTime > 0">
          Back to work in<br>{{ remainTime | formatTimer }}
        </span>
        <span v-else>
          Back to work, now!
        </span>
      </div>
      <div class="form-actions">
        <button class="btn pause-button" v-if="remainTime > 0" @click="paused = !paused">
          {{ paused ? 'Resume' : 'Pause' }}
        </button>
        <button class="btn back-button" @click="closeWindow" :disabled="remainTime > 0">Back to Work</button>
      </div>
    </div>
  </div>
  <script src="./modules/vue.js"></script>
  <script src="./js/popup.js"></script>
</body>
</html>